.header{
   height: 220px;
   margin-bottom: 30px;
   padding-top: 25px;
   padding-bottom: 55px;
   background-color: #25689E;
}
.container .header__top {
   display: flex;
   align-items: center;
   
}
.phone {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 260px !important;
   margin-right: 30px;
   background-image: url('../../images/telefon.svg');
   background-position: 0 center;
   background-repeat: no-repeat;
}
.phone__number {
   margin: 0;
   padding: 0;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   
}
.phone__number.number_one {
   margin-right: 15px;
   margin-left: 27px;
}
.email__address {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 133px;
   margin-right: 30px;
   background-image: url('../../images/message.svg');
   background-repeat: no-repeat;
   background-position: 0 center;
}
.email{
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   margin-left: 30px;
}
.work__time {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 134px;
   height: 20px;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   vertical-align: middle;
   background-image: url('../../images/oclock.svg');
   background-repeat: no-repeat;
   background-position: 0;
   margin-right: 100px;
}
.time__info {
   margin-left: 27px;
}
.for__blinders {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 201px;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   margin-right: 20px;
   background-image: url('../../images/see.svg');
   background-repeat: no-repeat;
   background-position: 0 center;
   cursor: pointer;
}
.text {
   margin-left: 42px;
}
.search__input {
   width: 249px;   
   margin: 0;
   padding: 9px 15px;
   border: #fff;
   border-radius: 46px;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #25689E;
   background-image: url('../../images/search.svg');
   background-repeat: no-repeat;
   background-position: 94% center;
   vertical-align: middle;
   cursor: pointer ;
}
.input__search:focus {
   border-color: #25689E !important;
}

input::placeholder {
   color: #25689E;
}

.lang__list {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
}
.lang__item {
   position: relative;
   margin-left: 20px;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   cursor: pointer;
}

.under_line {
   display: none;
   position: absolute;
   top: 20px;
   width: 100%;
   height: 2px;
   background-color: #fff;
}
.container .header__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
}
.lang__item--active .under_line{
   display: block;
}
.header__info {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 472px;
}
.header__logo--link {
   width: 100% !important;
   max-width: 100px !important;
   height: 100% !important;
   max-height: 76px !important; 
   margin: 0 !important;
   margin-right: 10px !important;
   padding: 0 !important;
} 
.logo__box {
   width: 100% !important;
   max-width: 100px !important;
   height: 100% !important;
   max-height: 76px !important;
   object-fit: cover;
}

.flag__box{
   width: 100% !important;
   max-width: 3px !important;
   height: 100% !important;
   max-height: 76px !important; 
   margin-right: 10px;
   object-fit: cover;
}
.header__heading {
   margin: 0;
   padding: 0;
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;  
   text-transform: uppercase;        
   color: #FFFFFF;      
}

.navbar__list{
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 708px;
   margin: 0;
   margin-right: 26px;
   padding: 0;
}
.navbar__item {
   position: relative;
   padding: 5px 0;
}
.navbar__item + .navbar__item {
   margin-left: 20px;
   
}
.navbar__item-link {
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   color: #fff;
}

.navbar_line {
   display: none;
   position: absolute;
   top: 45px;
   width: 100%;
   height: 2px;
   background-color: #fff;
}

.navbar__item:hover .navbar_line {
   display: block;
}
.navbar__item:hover .navbar__item-link {
   font-weight: 500 !important;
}
.navbar__item:nth-child(2), 
.navbar__item:nth-child(4) {
   display: flex;
   align-items: center;
   top: 2px;
} 
.item__row{
   margin-left: 7px;
   margin-top: -10px;
}
.navbar__item:nth-child(2):hover img, 
.navbar__item:nth-child(4):hover img {
   transform: rotateX(180deg);
}
.navbar__item:nth-child(2):hover .navbar_line, 
.navbar__item:nth-child(4):hover .navbar_line {
   display: none;
}
.social__list {
   margin: 0;
   padding: 0;
   width: 100%;
   max-width: 140px;
   display: flex;
   align-items: center;
}
.social__item + .social__item {
   margin-left: 10px;
}

.social__item {
   width: 40px;
   height: 40px;
   background-color: #fff;
   text-align: center;
   border-radius: 50%;
   cursor: pointer;
}

.social__item:nth-child(1) {
   background-image: url('../../images/facebook.svg');
   background-repeat: no-repeat;
   background-position: center center;
}
.social__item:nth-child(2) {
   background-image: url('../../images/instagram.svg');
   background-repeat: no-repeat;
   background-position: center center;
}
.social__item:nth-child(3) {
   background-image: url('../../images/telegram.svg');
   background-repeat: no-repeat;
   background-position: center center;
}
.navbar-item__dropdown {
   position: absolute;
   top: 100%;
   display: none;
   width: 196px;
   margin: 0;
   padding: 0;
   list-style-type: none;
   background: #FFFFFF;
   box-shadow: 2px 10px 20px rgba(51, 104, 179, 0.25);
   border-radius: 4px; 
   z-index: 1000;
   
}
.navbar__item:nth-child(2):hover .navbar-item__dropdown {
   display: block;
}
.navbar__dropdown-link {
   width: 100%;
   margin: 0;
   padding: 12px 15px;   
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #242424;
   white-space: nowrap;

   &:hover{
      color: #25689E;
   }
}